@import url('https://fonts.googleapis.com/css?family=Red+Hat+Mono');

body {
  background-image: linear-gradient(0deg, #c9c9c9 0%, #f5f7fa 100%);
}

html, body {
    margin: 0;
    min-height: 100%;
}


.navbar {
    height: 70px;
}

.navbar > .container{
    margin:0;
    padding: 0;
}

.navbar-title{
    font-size: 25px;
    font-weight: bolder;
    /* margin-left: 2px; */
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-family: 'Sora', sans-serif;  

}

.nav-link{
    margin-left: 50px;
    /* padding-top: 15px; */
    display: inline-block;
    position: relative;
    color: black;
    text-align: center;
    font-family: 'Sora', sans-serif;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .title {
    font-family: 'Sora', sans-serif;  
  }

  .cardTitle {
    font-size:25px;
    font-weight: bold;
    font-family: 'Sora', sans-serif;  
  }


  #aboutTitle {
    font-size:35px;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
    }


.cardText {
  font-family: 'Sora', sans-serif;
  }

#quiz {
  font-family: 'Sora', sans-serif;
}

#aboutUsDescription {
  font-family: 'Sora', sans-serif;
}

#comicCaption {
  font-size: large;
  font-style: italic;
  color: gray;
  margin: 0.5em;
  padding: 0.5em;
}

